Use_Label=true
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=rgb(114,159,207)
Color_Out=rgb(239,41,41)
Text=w
Network_Device={{ ansible_default_ipv4.interface }}
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=1000
Values_As_Bits=false

